/* Navigation bar */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    padding: 0px 7px
}
/* Home */
#home{
    height: 477px;
    padding: 3px 68px;

}
#home::before{
    height: 600px;
    width: 100%;
    
}
#home .btn{
    margin: 10px;
    font-size: 13px;
    padding: 4px 8px;
}
#home p{
    font-size: 13px;
}
.h-primary{
    font-size: 1.6rem;
}
/* Services */
#services{
    display: flex;
    flex-direction: column;
}
/* our clients */
.client{
    overflow: hidden;
}
.client-item{
    height : auto;
}

.client-item img{ 
    height : auto;
    width: 66px;
}
/* form */
.contact form{
    width: 80%;
}
::placeholder{
    font-size: 1rem;
}
